.dialog {
    left: 0px;
    top: 0px;
    transform: none;
}

.playerArea {
    display: block;
}

.playerInput {
    align-items: center;
    display: flex;
    gap: 1rem;
}

.playerInput input {
    margin: 0;
    padding: 1rem;
}

.playerInput input:invalid {
    border-color: red;
}